    @keyframes identifier {
      from {background-color: rgb(66, 57, 57);}
      to {background-color: rgb(16, 16, 14);}
      
    }
 
.head {
  text-align: center;
  padding: 5px;
  font-size: 10px;
  overflow: hidden;
  animation-name:identifier ;
  animation-duration: 4s; 
  animation-iteration-count: infinite;
 }
  

  
  .head a{
  float: right;
  display: block;
  color:rgb(77, 78, 78);
   /* linear-gradient(to right, #28d1d1, #0099CC);  */
  text-decoration: none;
  text-align: center;
  font-size: 30px;
  padding: 14px 16px;
  }
  
  .head a:hover {
  color: rgb(99, 244, 140);
  }

  